# Exercise 4.8

### Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### Load the file

In [2]:
path = r'C:\Users\Jaime Andres Suarez\Instacart Basket Analysis'
df=pd.read_pickle(os.path.join(path,'02 Data', 'Transformed Data', 'df_merged.pkl'))
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Most orders

## Subset with a million records

In [3]:
df2=df[0:1000000]

In [4]:
df2.shape

(1000000, 17)

## Grouping with Pandas

In [5]:
df2.groupby('product_name')

## Aggregating Data with agg()

In [8]:
df2.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [9]:
df2.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

## Performing Multiple Aggregations

In [11]:
df2.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## Aggregating Data with transform()

### 1. Split the data into groups based on the 'user_id" column

### 2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user

### 3. Create a new column, “max_order,” into which you’ll place the results of your aggregation

In [12]:
df2['max_order']=df2.groupby(['user_id'])['order_number'].transform(np.max)

<ipython-input-12-1ddfe4930bb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['max_order']=df2.groupby(['user_id'])['order_number'].transform(np.max)

In [31]:
pd.options.display.max_rows = None
df2.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Most orders,1
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Least busy day,Most orders,2
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,5
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,5

## Deriving columns with loc()

In [38]:
df.loc[df['max_order']>40, 'loyalty_flag']='Loyal customer'

KeyError: 'max_order'

In [34]:
df.loc[(df['max_order']>10) & (df2['max_order']<=40), 'loyalty_flag']='Regular customer'

C:\Users\Jaime Andres Suarez\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [36]:
df.loc[df['max_order']<=10, 'loyalty_flag']='New customer'

C:\Users\Jaime Andres Suarez\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [37]:
df2['loyalty_flag'].value_counts(dropna=False)

Regular customer    463844
Loyal customer      335086
New customer        201070
Name: loyalty_flag, dtype: int64

In [42]:
df2[['user_id','order_number','loyalty_flag']].head(30)

    user_id  order_number      loyalty_flag
0         1             1      New customer
1         1             2      New customer
2         1             3      New customer
3         1             4      New customer
4         1             5      New customer
5         1             6      New customer
6         1             7      New customer
7         1             8      New customer
8         1             9      New customer
9         1            10      New customer
10       15            15  Regular customer
11       15            17  Regular customer
12       15            18  Regular customer
13       15            21  Regular customer
14       15            22  Regular customer
15       19             2      New customer
16       19             5      New customer
17       19             7      New customer
18       21            10  Regular customer
19       31            10  Regular customer
20       31            17  Regular customer
21       43             6      New customer
22       43             9      New customer
23       52             1  Regular customer
24       52             2  Regular customer
25       52             3  Regular customer
26       52             5  Regular customer
27       52             7  Regular customer
28       52             9  Regular customer
29       52            10  Regular customer

### Convert products with a price higher than 100 into NaN

In [ ]:
df.loc[df['prices']>100,'prices']=np.nan